body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

main,
aside {
    float: left;
    padding: 20px;
    box-sizing: border-box;
    /*za da ne se razmestva sled padding-a */
}

main {
    width: 75%;
    /* height: 40%; */
}

aside {
    width: 25%;
}

main img {
    height: 280px;
}

header,
footer {
    text-align: center;
    /* clear: left; */
}

body {
    background-color: lightpink;
}