fieldset {
    background-color: rgba(128, 0, 128, 0.41);
    border-radius: 8px;
}

legend {
    background-color: purple;
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}

form {
    margin-left: 150px;
    width: 700px;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell-left {
    display: table-cell;
    text-align: left;
    padding: 10px;
    margin: 5px;
}

.cell-right {
    display: table-cell;
    text-align: left;
    padding: 10px;
    margin: 5px;
}