body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 1000px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: red;
    text-shadow: 5px 5px 5px black;
    font-family: 'Lobster', cursive;
}

h2 {
    color: red;
    font-size: 30px;
    margin-top: 90px;
    margin-left: 80px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 5px 5px black;
    
}

p {
    font-size: 15px;
    text-align:  center;
    color: black;
    font-family: 'Lobster', cursive;
}

#box {
    background-color: rgba(163, 163, 163, 0.65);
    border: 2px solid;
    border-radius: 15px 15px;
    margin-top: 20px;
    margin: auto;
    width: 450px;
    height: auto;
    box-shadow: 5px 5px 5px firebrick;
    text-align: center;
}

#pic {
    margin-top: -130px;
    margin-left: 20px;
    border-radius: 150px;
    width: 300px;
    height: auto;
}

#line {
    height: 2px;
    background-color: #ededed;
    border: 2px;
    border-color: firebrick;
}