body{
    font-family: 'Lato', sans-serif;
}


table{
    border-color: aliceblue;
}
#thead{
    background-color: cadetblue;
}

a{
    color: black;

}
td{
    color: black;
    background-color: beige;
}

#thead h2{
    font-weight: 800;
    width: 100%;
    text-align: center;
}

#img-tab{
    background-color: aquamarine;
}
#img-tab img{
    border-radius: 100%;
}
.txt{
    display: inline-block;
    vertical-align: top;
}

#second-id{
    border: 1px solid beige;
    display: table;
}

#second-id h2{
    font-weight: 800;
    display: table-header-group;
    border-bottom:1px  solid beige;
     background-color: cadetblue;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}




#second-id #img-col{
    display: inline-table;
    float:left;
    background-color: aquamarine;
}

#second-id #img-col img{
    border-radius: 100%;
}

#second-id #col{
    border: 2px solid white;
    display: inline-table;
}

#second-id #col #name{

    background-color: beige;
    display: table-row;
}
#second-id #col #name p{
    display: table-cell;
}



#second-id #col #mail{
    display: table-row;
    background-color: beige;
}

#second-id #col #mail a{
    display: table-cell;
}


#second-id #col #git{
    background-color: beige;
    display: table-row;
}

#second-id #col #git a{
  display: table-cell;
}

#second-id #col #linked{
        background-color: beige;
    display: table-row;
}

#second-id #col #linked a{
    display: table-cell;
}