/*
    General
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#home {
	height: 80rem;
	overflow: visible;
}

.nav a {
	color: #ffffff !important;
}

.navbar-header, a {
	color: #ffffff !important;
	padding-right: 100px;
}

.text-center {
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	line-height: 80px;
	font-weight: 900;
	font-size: 60px;
	padding: 30px 20px 10px 20px;
}

h3 {
	line-height: 30px;
	padding-bottom: 20px;
}

h4 {
	line-height: 40px;
	padding-bottom: 40px;
}

p {
	font-weight: 300;
	line-height: 30px;
	padding-bottom: 20px;
}

.space-free {
	height: 100px;
}

.g-pad-bottom {
	padding-bottom: 70px;
}

.for-full-back {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	/* IE 5-7 */
	filter: alpha(opacity=40);
	/* Netscape */
	-moz-opacity: 0.9;
	/* Safari 1.x */
	-khtml-opacity: 0.9;
	/* Good browsers */
	opacity: 0.75;
}

.for-full-back-2 {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	/* IE 5-7 */
	filter: alpha(opacity=90);
	/* Netscape */
	-moz-opacity: 0.9;
	/* Safari 1.x */
	-khtml-opacity: 0.9;
	/* Good browsers */
	opacity: 0.9;
}

section {
	padding-top: 30px;
}


/*
    Color
*/

.color-white {
	background-color: #fff!important;
}

.color-dark {
	background-color: #696969!important;
}

.color-light {
	background-color: #E9E9E9!important;
}


/*
    Header
*/

.head-main {
	font-size: 80px !important;
	font-weight: 900!important;
	color: white;
	padding: 180px 20px 10px 20px;
}

/*
.head-sub-main {
	font-size: 40px !important;
	font-weight: 600!important;
	color: #fff!important;
	padding: 5px 20px 10px 20px;
}
*/

/*
.head-last {
	font-size: 20px !important;
	font-weight: 300!important;
	color: #fff!important;
	padding: 5px 20px 100px 20px;
}
*/


/*
    nav
*/

nav {
	position: absolute;
	width: 100%;
	background: #fff;
	z-index: 99;
}

.fixed {
	position: fixed;
	top: 0;
	min-height: 50px;
	z-index: 99;
}

.navbar-inverse {
	background-color: dimgrey;
	border-color: dimgrey;
}


/*
    abtme
*/

.team-member {
	float: left;
	position: relative;
	width: 100%;
}

.team-member > img {
	float: left;
	width: 100%;
}

.team-member > h3 {
	background: rgba(95, 154, 255, 0.85);
	bottom: 25px;
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 16px;
	padding: 15px 0;
	position: absolute;
	text-align: center;
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.team-member:hover > h3 {
	background: #000;
	bottom: -55px;
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}


/*
    Gallery
*/

#gallery {
	padding: 30px;
}

#gallery img {
	padding: 10px;
	margin: 10px;
	border: 1px #ccc solid;
	border-radius: 5px;
	height: 150px;
}


/*
    Contact
*/

#social-icon a {
	color: #616161!important;
	margin-right: 10px;
}

.contact-cls {
	font-size: 20px;
	line-height: 40px;
}


/*
    Footer
*/

#footer {
	background-color: #000;
	color: #fff;
	padding: 20px 50px 20px 50px;
	text-align: right;
}