body {
    font-family: 'Comfortaa', cursive;
}

.topnav {
    height: 90px;
    background-image: url(../img/topbar.png);
}

.customers {
    height: 100px;
    background-image: url(../img/customerbar.png);
}

.navbar {
    border: none;
}

.navbar-default {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.navbar-right {
    margin-top: 20px;
}

#logo {
    height: 90px;
    position: fixed;
    top: 0;
}

#navigation {
    float: right;
    width: 408px;
    height: 44px;
    margin-top: 20px;
    padding: 0;
    background: url(../img/navigation-bg.png) no-repeat left top;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
    margin: 0px;
}

#navigation ul li a {
    height: 33px;
    display: block;
    float: left;
    margin-top: 6px;
    padding: 9px 15px 0 15px;
    font: bold 12px Arial;
    color: #FFF;
    text-decoration: none;
    background: url(../img/navigation-separator.png) no-repeat right center;
}

#navigation ul li #last {
    background: none;
}

#navigation ul li a:hover {
    color: darkgoldenrod;
}

#navigation ul li#active a {
    color: darkgrey;
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 4px solid #332F29;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff url(../img/bgimg.jpg) no-repeat center center
}

.view .mask,
.view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 5px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 0px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-image: url(../img/bgevents.jpg);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}

.title {
    font-size: 29px;
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.67);
}