body{
font-family: 'Roboto', sans-serif;
    background-color: #e6e6e6;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    color: #3366ff;
}


.bio{
    height: 55%;
    width: 100%;
    background-image: linear-gradient();
}

.bio .bio-pic{
    height: inherit;
    width: inherit;
}

.bio .about{
    display: inline-block;
   float: left;
   position: absolute;
    height: 35%;
    width: 20%;
   left: 38%;
   top: 35%;
   z-index: 1000;
   background-color: fade(#ffffff, 50%);
   text-align: center;
}

.bio .about .textbox .background{
    opacity: 0.70;
    left: 20%;
    text-align: center;
    height: 200px;
    background-color: #e6e6e6;
    text-align: center;
}

.bio .about .textbox p{
position: absolute;
  top: 65%;
  left: 7%;
    right: 7%;


}
.bio .about .pic{
    margin-left: 21%;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    
}
.bio .about .pic .picture{
    margin: auto;
    width: 60%;
    border: 3px solid #e6e6e6;
    padding: 10px;
    display: inline-block;
    min-height: 100%;
    min-width: 100%;
}

.bio .about .button-box ul{
    position: absolute; 
  top: 132%;
  left: 7%;
 display: table;
}

.bio .about .button-box ul li{
 display: table-cell; 
}

.bio .about .button-box ul li:hover{
  -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

.bio .stats {
    top:5%;
    left: 65%;
    position: absolute;
    display: inline-block;
    height: 95%;
    width: 35%;
    background-color: #e6e6e6;
    opacity: 0.70;
}

.bio .stats .content{
    opacity: 1.0;
    padding-left: 15px;
    font-size: 24px;
}

.bio .resume {
left: auto;
     top:5%;
    position: absolute;
    display: inline-block;
    height: 95%;
    width: 35%;
    background-color: #e6e6e6;
    opacity: 0.70;
}

.bio .resume .content{
    opacity: 1.0;
    padding-left: 15px;
    font-size: 24px;
    margin: 1px;
}

.bio .resume .content h6{
    font-size: 20px;
    margin: 1px;
}

.bio .resume .content h5{
    margin: 1px;
    font-size: 16px;
}

.bio .resume .content .timespan{
    color: #595959;
    font-size: 16px;
    margin: 2px;
}

.bio .resume .content ul li{
    color:#595959;
    font-size: 12px;
    margin: 1px;
}

.bio .stats .content h5{
    margin: 1px;
    font-size: 16px;
}

.bio .stats .content .timespan{
    color: #595959;
    font-size: 16px;
    margin: 2px;
}

.bio .stats .content ul li{
    color:#595959;
    font-size: 12px;
    margin: 1px;
}


    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }

.carousel-inner{
    height: 300px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}
