.vertical-align {
    display: flex;
    align-items: center;
}
img {
    width: 10.7em;
}
.image-box, .info-box {
    padding: .7em;
}
@media screen and (max-width: 42.85em) {
    body {
        background-color: seashell;
    }
    h1 {
        font-size: 2em;
    }
    .micro-screen {
          width: 100%;
          float: none;
          display: block;
          min-height: .07em;
        }
}