h1 { 
    display: block;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-style: italic;
    font-size: 25px;
    color: #666;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 0;
    font-weight: bold;
}

p {
    display: block;
    font-style: italic;
    font-size: 25px;
    color: #666;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 0;
    font-weight: bold;
}

hr { 
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25px;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

