header {
  background-color: #8B0000;
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  font-family: Helvetica;
}

nav {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 1209px;
  text-align: right;
  background-color: #A8A8C0;
}

nav a {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

aside {
  background-color: #FA8072;
  width: 100px;
  padding: 20px;
  height: 100%;
  display: block;
  position: fixed;
  right: 0;

}

#about, #projects, #contact {
  padding-left: 100px;
}

footer {
  width: 1309px;
  background-color: #FFA500;
  text-align: center;
  display: block;
  padding: 20px;
  position: absolute;
}



h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
