



@media screen and (min-width: 800px) {
    .container {
        width:100%;
       
    }
    .aside {
        background-color: aqua;
        height:600px;
        width:28%;
        display:inline-block;
    }
    .main {
        background-color: antiquewhite;
        width:70%;
        float:right;
        height:600px;
        padding-left:12px;
    }
    .header {
        background-color: coral;
        width:100%;
        text-align: center;
    }
    h2 {
        margin-bottom:0px;
    }
}
@media screen and (max-width: 600px) {
    .aside {
        background-color: brown;
        height:80px;
       width:100%;
   
      
    }
    .main {
        background-color: bisque;
        height:800px;
        width:100%
    }
    .header {
        background-color: chartreuse;
        text-align: center;
    }
    
    
h2 {
    height: 70px;
    display:inline-block;
    width:30%;
    margin-left:10px;
    
       
    }
li {
    width:30%;
    float:right;
    margin-top:23px;
}

    
    
}
       
