img {
    width:150px;
 height:180px;
    padding-top:0x;
    padding-bottom:0px;
    border-radius:100%
    
}
body  {
  background-color:white;
    z-index:-1
}
header h1,h2 {
    color:aqua;
    text-align: center;
   
margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom:30px;
    padding-top:30px;
text-decoration-line: underline;
}


#skills  {
    color:skyblue;
    display:inline-block
 
}
nav {
      
 border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding-top:auto;
     background-color:black;

}
article{
    color:bisque;
    background-color:black;
    display:inline-block
        
}

section  {
    display:inline-block
    border-style:double
    
        
}
        

