div#container {
    display: table;
}
div#main {
    display: table-row;
}
img {
    border-radius: 100%;
    width: 150px; 
 	height: 150px; 
    display: block;
    text-align: center;
}
div#photo {
    display: table-cell;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
div#text1 {
    list-style:none;
    display: table-cell;
    padding: 15px;
    vertical-align: middle;
    text-align: right;
}
div#text2 {
    list-style: none;
    display: table-cell;
    padding: 15px;
    vertical-align: middle;
    text-align: left;
}

