table {
    width: 600px;
    height: 200px;
    font-family: "Libre Baskerville", serif;
    border-collapse: collapse;
    background-color: beige;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.table-img {
    width: 200px;
    height: 200px;
    background-color: dimgrey;
}

td.col1 {
    text-align: right;
    font-style: oblique;
    padding-right: 16px;
}

td.col2 {
    text-align: left;
}

a,
.col2 {
    text-decoration: none;
    color: dimgrey;
}