#all {
    display: flex;
    width: 600px;
    height: 500px;
    flex-direction: column;
    padding: 30px;
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #000;
}

.line1 {
    display: flex;
    flex: 0.5;
    margin: 10px;
}

.line2 {
    display: flex;
    flex: 0.9;
    margin-bottom: 10px;
    margin-left: 10px;
}

.line-sini {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    margin-right: 10px;
}

.colours {
    flex-grow: 1;
}

#jult {
    background-color: #F0DD6F;
}

#zelen {
    background-color: #72DE6A;
    display: flex;
    margin-left: 10px;
}

#cherven {
    background: #D56A6C;
    margin-right: 10px;
}

#sin1 {
    background: #50B1C4;
    margin-bottom: 10px;
}

#sin2 {
    background: #50B1C4;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#bottom-text {
    margin-top: -60px;
}