form {
    width: 800px;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell-left {
    display: table-cell;
    text-align: left;
    padding: 10px;
    margin: 5px;
}

.cell-right {
    display: table-cell;
    text-align: left;
    padding: 10px;
    margin: 5px;
}

legend {
    text-align: center;
    margin: 10px;
    font-size: 25px;
}