* {
    /* box-sizing: border-box; */
}

body {
    font-family: sans-serif;
    background-image: url(background.jpg);
}

h2,
h3,
h4,
P {
    font-family: 'cursive';
    color: white;
}

header {
    background-image: url("6777911-blue-and-white-wallpaper.jpg");
    margin: auto;
    width: 80%;
    border: 2px ridge #DCDCDC;
    border-radius: 4px;
    position: relative;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    color: black;
}

main {
    display: table;
}

nav {
    margin: auto;
    width: 40%;
    background-color: antiquewhite;
    vertical-align: -50px;
    text-align: center;
}

nav ul li {
    list-style-type: circle;
    display: inline-block;
    padding: 15px;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

aside {
    background-color: darkslategray;
    padding: 20px;
    display: table-cell;
    border: 2px ridge black;
}

h2 {
    /*  padding-bottom: 2px;*/
    /*  border-bottom: 1px solid black;*/
}

section {
    padding-left: 20px;
    display: table-cell;
    background-color: darkslategray;
}

footer {
    background-color: burlywood;
    color: white;
    height: 20px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}