* {
    box-sizing: content-box;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: deepskyblue;
    font-size: 2.1em;
}

h2 {
    margin-top: 50px;
    color: deepskyblue;
    font-family: 'Roboto', sans-serif;
}

#img-content {
    background-color: deepskyblue;
    display: inline-block;
    width: 160px;
    height: 160px;
    text-align: center;
    line-height: 160px;
}

#my-img {
    width: 160px;
    height: 160px;
    vertical-align: middle;
    border-radius: 100px;
}

#info-content {
    display: inline-block;
    width: 300px;
    height: 150px;
    vertical-align: middle;
    margin-left: 15px;
}

table {
	pading-top: 10px;
}


table th, td a {
    height: 30px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    text-align: right;
}

table th {
    text-align: right;
}

table td {
    font-family: 'Lato', sans-serif;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

p {
    font-family: 'Lato', sans-serif;
}

footer {
}

