header {
  background-color: #gray;
  margin-top:30px;
  color: #F0D8D8;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: Helvetica;
  dysplay: block;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: right;
  background-color: #A8A8C0;
}

nav a {
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
.container{
	background-color: gray;
    height: 800px;
	dysplay: flex;	
	
}

aside {
  background-color: #C0A8C0;
  width: 270px;
  height: 90%;
  padding: 30px;
  display: block;
  

}

#about, #projects, #contact {
 
}

footer {
  width: 100%;
  background-color: #A8A8C0;
  text-align: center;
  display: block;
  padding: 15px;
  position: padding-top;
}
	  
	  