.tb{
	display:table;
	table-layout: fixed;
}
.tr{
	display: table-row;
}
.tc{
	display: table-cell;
	vertical-align: middle;
}
.tc-nasted-table-holder{
	padding: 0 10px;
}
.nasted-table-holder .tb .tr .tc:first-child{
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}
img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
}
.nasted-table-holder{
	background-color: #FCDDC1;

}
div#colour.tc{
	background-color: #E5AD8A
}
p{
	line-height: 0;
}