html, body, div, span, h1, h2, h3, h4, h5, h6, p, table, tr, th, td {
    margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%;
    vertical-align: baseline; 
	background: transparent;
}
body {
    font-size: 
    text-align: 
    color:
}
.container {
    width: 
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
 