body {
border: 0;
margin: 0;
padding: 0; 
box-sizing: border-box;
}

main {
background-color: darkgrey;
width: 800px;
height: 600px;
margin: 0 auto;
display: flex;
align-items: flex-end;
flex-direction: column;
}

.item {
    color: white;
    text-transform:  uppercase;
    flex-basis: 150px;
    height: 200px;
    width: 200px;
}

.item1 {
    background-color: darkred;
}

.item2 {
    background-color: green;
}

.item3 {
    background-color: yellow;
}
.item4 {
    background-color: blue;
}
