body {
    font-family: Sans-Serif;
	line-height: 1.5em;
    background-color: #cccccc;
    box-sizing: border-box;
}

/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    width: 90%;
    margin: auto;    
}

.section.group.first {
	margin-top: -8px;
	padding-top: 0;
}

.lildown {
    padding-top: 100px;
}

.col.main-image{
	width: 100%;
}

.front-image img {
	width: 100%;
}


.nav-menu {                          
    background-color: #cccccc;
    display: block;
    height: 80px;
    width: 90%;
    position: fixed;
    z-index: 1;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0;
}

.nav-item {
    display: inline-block;
    float: left;
    border: 2px solid #cccccc;
    margin: 7px 0px;
    
}

navbar li a {                            
    display: block;
    color: #444;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

li:hover {                        
    background-color: #444;
}

.active {                           
    background-color: #444;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    height: 200px;
    float: left;
    margin: 1% 0% 1% 1%; /*top,right,bottom,left*/
    border: 1px solid black;
    text-align: center;
    background-color: #444;
    color: white;
}

.col.span_1_of_3.big {
    width: 95%;
    height: 740px;
    text-align: justify;
    padding: 2%;
}

.col.span_1_of_3.big.second {
    height: auto;
}


.big h1,h3{
    text-align: center;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}


/*  GO FULL WIDTH BELOW 600 PIXELS */

@media only screen and (max-width: 600px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%;
    }
}



ul{
    list-style-type: none;
}

li {
    display: inline-block;
    text-align: center;
    padding: 18px 10px; /* top, right*/
    font-size: 20px;

}

a {
    text-decoration: none;   
    color: white; 
}