.form-horizontal {
	padding: 0px;
	margin: 20px 0px 0px 0px;
}

label {
	display: block;
	margin-left: 10px;
}

/*
#info,
#info2,
#lang {
	float: left;
	margin: 0px;
}
*/

/*
#comment {
	float: none;
}
*/
button {
	margin: 20px;
}