html, body {
    width: 100%;
    height: 100%;
}
body {

    height: 100%;
    /*background-color: rgb(212, 254, 254);*/
    background-image: url("back.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
#wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
form{
    /*border: 50px solid rgb(255,174,201);*/
    padding: 80px ;
    /*border-radius:100% ;*/
    background-image: url("old_scroll_paper.png");
    /*background-size: 100%;*/
    position: relative;
    left: 50px;
}
.form-group{
    position: relative;
    left: 50px;
}
