body {
    margin: 0 auto;
    max-width: 800px;
}
h1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
}
h2 {
    text-align: left;
    color: black;
    text-transform: lowercase;
    font-size: 11pt;
    font-style: italic
}
h3 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 15pt;
    font-style: normal
}
h4 {
    text-align: center;
}
ul,
li {
    text-decoration: underline;
    font-style: normal;
    color: black;
    font-size: 14pt
}
a {
    text-decoration: underline;
}
img {
    margin: 30px 0;
}
#pic {
    text-align: center;
}
