body {
    font-family: sans-serif;
}

.square {
    width: 200px;
    height: 200px;
    color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

p {

    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

@media only screen and (max-width: 399px) {
    .square {
        width: 100%;

    }

}

@media all  and (max-width: 500px)and (min-width: 400px) {



    .red {
        position: fixed;
        top: 0;
        left: 0;
    }

    .blue {
        position: fixed;
        top: 0;
        right: 0;
    }

    .green {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .black {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

@media all  and (max-width: 600px)and (min-width: 499px) {
    .blue {
        position: fixed;
        top: 0;
        left: 0;
    }

    .green {
        position: fixed;
        top: 0;
        right: 0;
    }

    .black {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .red {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

@media all  and (max-width: 700px)and (min-width: 599px) {
    .green {
        position: fixed;
        top: 0;
        left: 0;
    }

    .black {
        position: fixed;
        top: 0;
        right: 0;
    }

    .red {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .blue {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}
@media all  and (max-width: 800px)and (min-width: 699px) {
    .black {
        position: fixed;
        top: 0;
        left: 0;
    }

    .red {
        position: fixed;
        top: 0;
        right: 0;
    }

    .blue {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .green {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}
@media only screen and (min-width: 800px) {
    .square {
        float: left;

    }


}