body, h1, h2, h3, header, p, a, footer, nav, main, td, th, tr, ul, li, section, img {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
ul {
    list-style-type: none;
}