body{
    margin: 0 aut0;
}
.container{
    background-color: bisque;
    margin: auto;
    width:  900px;
    padding-bottom: 40px
}

.container span{
    color: red;
}
.content-1{
    width: 90%;
    background-color: #B6D6E5;
    margin: auto;
    text-align:left;
    padding:10px 10px 10px 10px;
    font-size: 1.2em;
}
.content-2{
    width: 90%;
    background-color: #F1F8FF;
    text-align:left;
    margin: auto;
    padding:10px 10px 10px 10px;
    font-size: 1.2em;
}