* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  width: 300px;
  padding: 2px;
  border-radius: 3px;
  background-color: #666666;
  color: white;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: #666666;
}

.nav {
  height: 60px;
  width: 300px;
  padding-top: 10px;
  padding-left: 30px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.nav:hover {
  background-color: whitesmoke;
}