#table {
    border-collapse: collapse;
    width: 600px;
    height: 200px;
    /*    border-style: double;*/
    border-color: black;
}

.img {
    width: 200px;
    height: 200px;
    background-color: gainsboro;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.col1 {
    text-align: right;
    background-color: lightblue;
    padding-right: 10px;
}

.col2 {
    text-align: left;
    background-color: lightblue;
    font-family: 'Amiri', serif;
}

h1 {
    font-family: 'Amiri';
}

a {
    text-decoration: none;
}