.contact{
    border: 1px solid #989898;
    box-shadow: 2px 2px 4px #888888;
    display: none;
    background-color: white;
}
.myContacts{
    font-size: 25px;
    padding: 15px 40px;
    background-color: silver;
    margin-bottom: 10px;
}
