body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+35,feffff+100 */
background: rgb(160,216,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(160,216,239,1) 0%, rgba(221,241,249,1) 35%, rgba(254,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(160,216,239,1) 0%,rgba(221,241,249,1) 35%,rgba(254,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(160,216,239,1) 0%,rgba(221,241,249,1) 35%,rgba(254,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}

.container{
	background-color: #f2f2f2;
}
.box{
	margin-bottom: 30px;
}

.box-inner{
	border: 1px solid;
	border-radius: 5px;
	text-align: center;
}

.box-inner img{
	width: 155px;
	height: 240px;
	margin: 0 auto;
}

.box-inner h4{
	margin-top: 5px;
	margin-bottom: 5px;
}

/*book*/

.cover, .info{
	padding-top: 15px;
	padding-bottom: 15px;
}
.info{
	text-align: center;
}
.review{
	text-align: justify;
}
.review::first-letter{
	font-size: 40px;
	line-height: 40px;
	color: grey;
	font-style: italic;
}
@media (min-width: 992px){
	.book-page{
		background-image: url("/img/open_book.png");
		background-repeat: no-repeat;
		background-position: right 55px;
		background-size: 50% 50%;
	}
}

.glyphicon{
  margin-right: 5px;
}
footer a{
	color: #777;
}
footer a:hover{
	color: black;
}
footer {
	background-color: #f8f8f8;
	text-align: center;
	display: block;
	padding: 5px 0;
	position: static;
}
#back-to-top{
	position: fixed;
    display: block;
    right: 0;
    top: 50%;
    height: 30px;
}
#back-to-top::before{
	font-size: 25px;
}
#back-to-top:hover, #back-to-top:focus{
	text-decoration: none;
	color: blue;
}
#search-icon{
	margin-left: -30px;
}