main {
  background-color: #ffffb3;
}

#responsiveCircle {
  background-color: #ff0066;
}

#responsiveText:before {
  content: "extra-large";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "> 999px";
  text-transform: lowercase;
}