main {
  background-color: #ffff99;
}

#responsiveCircle {
  background-color: #00cc00;
}

#responsiveText:before {
  content: "large";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "680px - 999px";
  text-transform: lowercase;
}