main {
  background-color: #EB2626;
}

#responsiveCircle {
  background-color: #3399ff;
}

#responsiveText:before {
  content: "medium";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "460px - 679px";
  text-transform: lowercase;
}