    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    * {
        box-sizing: border-box;
    }
    
    html {
        height: 100%;
    }
    
    body {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    body,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    textarea,
    iframe,
    p,
    ul,
    li {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-color: white;
        background-image: url();
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    main {
        display: flex;
    }
    
    aside {
        flex: 1;
        background-color: #F980C5;
        padding: 40px;
        font-family: 'Open Sans', sans-serif;
    }
    
    .sections-container {
        flex: 4;
        padding-left: 40px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 10px 0;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    h3 {
        font-size: 1.4em;
    }
    
    h4 {
        font-size: 1.2em;
    }
    
    h5 {
        font-size: 1.1em;
    }
    
    h6 {
        font-size: 1em;
    }
    /*
        :hover {
          background-color: #333;
          transition: background-color 1s;
        }
        */
    
    pre {
        overflow: auto;
        font-family: monospace, monospace;
        font-size: 1em;
    }
    
    header {
        background-color: #EC008B;
    }
    
    header h1 {
        padding-left: 40px;
    }
    
    nav {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-right: 30px;
        width: 100%;
        text-align: right;
        background-color: #D20075;
        font-family: 'Open Sans', sans-serif;
    }
    
    img {
        /* _____   */
    }
    
    .box {
        display: table;
    }
    
    .row {
        display: table-row;
    }
    
    .col {
        display: table-cell;
        padding: 0 10px;
        vertical-align: top;
        width: 50%;
        text-align: left;
    }
    
    input {
        border: 2px;
        border-color: black;
        border-style: solid;
    }
    
    textarea {
        border: 2px;
        border-color: black;
        border-style: solid;
    }
    
    .another {
        flex: 1;
        background-color: #F980C5;
        padding: 40px;
        font-family: 'Open Sans', sans-serif;
    }
    
    footer {
        width: 100%;
        background-color: #D20075;
        text-align: center;
        padding: 15px;
        font-family: 'Open Sans', sans-serif;
        box-sizing: content-box;
    }
    
    @media screen and (max-width: 768px) {
        body {
            font-size: 80%;
        }
        .sections-container {
            padding: 360px;
            height: 100%;
            overflow: scroll;
            flex: 4;
        }
    }