
.preLoader {
    background-color: rgba(51,51,51,0.9);
    height: 5440px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.preImg {
    position: fixed;
    width: 242px;
    height: 141px;
    background-image: url('../images/preLoadImg.png');
    background-position: center;
    background-size: 242px 141px;
    z-index: 1001;
    margin-top: 200px;
    animation-name: preLoadFish;
    animation-duration: 1s;
    animation-iteration-count: 10;
    animation-direction: alternate;
}
@keyframes preLoadFish {
    from{opacity: 0;}
    to{opacity: 1;}
}
.wait {
    position: fixed;
    top: 350px;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
}