body{
    background-color: black;
}
h1{
    color: yellow;
    font-size: 100px;
    text-shadow: 15px 15px 7px rgba(185,241,267, 0.5);
    text-align: center;
    font-family: cursive;
}
a{
    color: white;
    font-size: 40px;
}
p{
    color: greenyellow;
    font-size: 30px;
    margin-left: 200px;
    font-weight: bold;
    font-family: Arial;
    text-decoration: underline;
}

img{
    width: 400px;
    margin: 0 auto;
    display: block;
}