<br>
<div class="row">
    <div class="col-lg-12">
        <form id="floats-filters" name="floats-filtersForm" class="form-inline filters">
            <div class="form-group">
                <label for="brand">Brand</label>
                <select id="brand" name="brand" class="form-control">
                    <option value="">None</option>
                    <option value="maver">Maver</option>
                    <option value="rizov">Rizov</option>
                    <option value="bobi fisher">Bobi Fisher</option>
                </select>
            </div>

            <div class="form-group">
                <label for="type">Type</label>
                <select id="type" name="type" class="form-control">
                    <option value="">None</option>
                    <option value="fixed">Fixed</option>
                    <option value="moving">Moving</option>
                    <option value="wagglers">Wagglers</option>
                    <option value="bombarda">Bombarda</option>
                </select>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <select id="price" name="price" class="form-control">
                    <option value="">None</option>
                    <option value="price-asc">Price-ascending</option>
                    <option value="price-desc">Price-descending</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-danger reset">Reset Filters</button>
            </div>
        </form>
    </div>
</div>
<section id="floats-inner-container" class="contain"></section>
