<div class="row" id="row">
    <div class="col-xs-12 col-sm-6 col-md-4 banner" data-attr="rods">
        <img src="img/rod.jpg" alt="">
        <a href="" id="rods">
            <h2>RODS</h2>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 banner" data-attr="reels">
        <img src="img/reel.jpg" alt="">
        <a href="">
            <h2>REELS</h2>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 banner" data-attr="lure">
        <img src="img/lure.jpg" alt="">
        <a href="">
            <h2>LURE</h2>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 banner" id="lines" data-attr="lines">
        <img src="img/fishing_line_.JPG" alt="">
        <a href="">
            <h2>LINES</h2>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 banner" id="hooks" data-attr="hooks">
        <img src="img/hooks.jpg" alt="">
        <a href="">
            <h2>HOOKS</h2>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 banner" id="floats" data-attr="floats">
        <img src="img/float.jpg" alt="">
        <a href="">
            <h2>FLOATS</h2>
        </a>
    </div>
</div>
