/*Reset CSS*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------New CSS---*/

body {
    margin: 60px;
}

#wrapper {

    width: 800px;
    height: 600px;
    margin: 0 auto;
}

nav {
    width: 800px;
    height: 240px;
    background-color: rgb(102, 102, 102);
    border-radius: 10px;
    display: inline-block;
    text-align: left;

}

h1 {
    font-size: 60px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 50px;
    padding-top: 70px;
    margin: 0;

}

h2 {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 35px;
    padding-left: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-top: 15px;
}

main {
    width: 800px;
    height: 350px;
    border: 1px solid rgb(220, 220, 220);
    margin-top: 30px;
    border-radius: 5px;
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}




li {
    width: 800px;
    height: 70px;
    border-bottom: 1px solid rgb(220, 220, 220);

}



li:last-child {
    border-bottom: none;
}

a {
    text-decoration: none;
}


.icons {
    width: 0;
    height: 35px;
    background-image: url("social-media.jpg");
    background-size: auto 35px;
    margin: 10px;

}

.facebook{

    background-position: -2px 0 ;

}
.google {
    background-position: -39px 0;
}
.instagram {
    background-position: -76px 0;
}
.pinterest{
    background-position: -115px 0;
}
.twitter{
    background-position: -154px 0;

}
p {
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(87, 83, 80);
    padding-left: 39px;

    display: inline-block;

}