.nasted-table-holder{
	background-color: lightgreen;
}
table table tr td:first-child{
	text-align: right;
	font-weight: bold;
}
table table tr td{
	height: 25px;
}
table tr td img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
}
table tr td{
	background-color: limegreen;
}
td.nasted-table-holder td{
	background: none;
}