<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Vinyl Shop</title>
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/shop-homepage.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">


  </head>

  <body>



    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <a class="navbar-brand" href="../../index.html">The Vinyl Shop</a>
        <div class="collapse navbar-collapse" id="navbarExample">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../../index.html" id="home-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="about-link">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="contacts-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="../../templates/_shopping-cart.html"><img src="../../img/cart.png" id="shopping-bag-icon"></a>
              <div class="invisible" id="total"><span class="simpleCart_quantity"></span><span class="simpleCart_total"></span></div>
            </li>
            <li class="nav-item not-logged-in">
              <a href="#login" data-toggle="modal" data-target="#login-modal">Log in</a>
            </li>
            <li class="nav-item logged-in">
              <a href="#logout" class="logout-btn">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
    
    <div id="login-container">
      <p class="logged-in">
        <strong>Welcome back, <span class="username-placeholder">user</span>!</strong>
      </p>
    </div>

    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <form name="loginForm" class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Log in</h4>
          </div>
          <div class="modal-body" id="login-modal-body">
            <div class="form-group">
              <label>Username</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
                <input type="text" name="username" class="form-control" placeholder="Username" id="username" required>
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="input-group">
                <span class="input-group-addon" id="password">
                  <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
              </div>
            </div>
          </div>
          <div class="alert alert-danger invisible">
            <strong>Incorrect username/password!</strong>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-arrow-left"></span>
              Close
            </button>
            <button type="submit" class="btn btn-primary" id="login">
              <span class="glyphicon glyphicon-lock"></span>
              Login
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="card-block" id="page-content">
      <div class="simpleCart_shelfItem" id="#item-card">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4 class="item_name">THE CENTENNIAL COLLECTION (RECORD STORE DAY 2017)</h4>
            <h5>ROBERT JOHNSON (2017)</h5>
            <h5>BLUES 3LP</h5>
            <img class="card-img-top img-fluid" src="../../img/record_img/cover_2.jpg" alt="">
          </div>
          
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>Tracklist</h4>
            <p>1. Way Down (2:38)<br> 2. She Thinks I Still Care (3:51)<br>3. Bitter They Are, Harder They Fall (3:17) <br>4. Pledging My Love (2:51)<br>5. For The Heart (3:22)<br>6. Love Coming Down (3:07)<br>7. He’ll Have To Go (4:32)<br>8. Blue Eyes Crying In The Rain (3:41)<br>9. Hurt (2:07)<br>10. Never Again (2:51)<br>11. Danny Boy (3:56)<br>12. Solitaire (4:40)<br>13. Moody Blue (2:49)<br>14. It’s Easy For You (3:27)<br>15. I’ll Never Fall In Love Again (3:44) <br>16. The Last Farewell (4:02)</p>
            
            <input type="text" value="1" class="item_Quantity"><br>
            <span class="item_price">€39.00</span><br>
            <a class="item_add" id="add-item" href="javascript:;"><button class="btn btn-primary">Add to Cart </button></a>
            <a href="javascript:;" class="simpleCart_empty"><button class="btn btn-warning">Empty cart
              </button></a>
          </div>
        </div>
      </div>
    </div>
    
    
    <footer class="py-5 bg-inverse" id="footer">
      <div class="container">
        <p class="m-0 text-center"><strong>Copyright &copy; Your Website 2017</strong></p>
        <ul class="list-inline" id="social-panel">
          <li><a href="https://www.facebook.com/"><i class="fa fa-2x fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/"><i class="fa fa-2x fa-twitter"></i></a></li>
          <li><a href="https://plus.google.com/"><i class="fa fa-2x fa-google"></i></a></li>
          <li><a href="https://www.pinterest.com/"><i class="fa fa-2x fa-pinterest"></i></a></li>
          <li><a href="https://www.youtube.com/"><i class="fa fa-2x fa-youtube"></i></a></li>
        </ul>
      </div>

    </footer>

    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/tether/tether.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/custom.js"></script>
    <script src="./js/simpleCart.js"></script>
    <script src="./js/login-script.js"></script>
  </body>

</html>



