/*CSS template*/

@import url(https://fonts.googleapis.com/css?family=Puritan);

html, body {
    width: 100%;
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0; 
    flex: auto;
}

* {
    box-sizing: border-box;
}