<!DOCTYPE html>
<html>
<head>
    <title>Layout</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="layout.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <div id="container">
        <header>
            <h1>Header</h1>
        </header>
        <aside>
            <nav>
                <h2>Side Navigation:</h2>
                <ul>
                    <li id="right"><a href="#article1">Article 1</a></li>
                    <li><a href="#article2">Article 2</a></li>
                    <li><a href="#article3">Article 3</a></li>
                    <li><a href="#article4">Article 4</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <h2>Main content</h2>
            <article id="article1">
                <h3>Article 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas, dui sed cursus placerat, felis metus sollicitudin nunc, nec venenatis augue tellus vitae nisl. Quisque ut venenatis est. Vestibulum non dolor nec sapien imperdiet semper nec quis massa. Phasellus ultrices vestibulum rutrum. Vestibulum auctor felis eget ipsum semper vulputate. Sed congue, metus sit amet tempus pretium, nunc sapien pellentesque elit, ut porttitor eros orci nec arcu. Nunc lobortis risus eget eros viverra dapibus.</p>
            </article>
            <div id="top">Top</div>
            <article id="article2">
                <h3>Article 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas, dui sed cursus placerat, felis metus sollicitudin nunc, nec venenatis augue tellus vitae nisl. Quisque ut venenatis est. Vestibulum non dolor nec sapien imperdiet semper nec quis massa. Phasellus ultrices vestibulum rutrum. Vestibulum auctor felis eget ipsum semper vulputate. Sed congue, metus sit amet tempus pretium, nunc sapien pellentesque elit, ut porttitor eros orci nec arcu. Nunc lobortis risus eget eros viverra dapibus.</p>
            </article>
            <article id="article3">
                <h3>Article 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas, dui sed cursus placerat, felis metus sollicitudin nunc, nec venenatis augue tellus vitae nisl. Quisque ut venenatis est. Vestibulum non dolor nec sapien imperdiet semper nec quis massa. Phasellus ultrices vestibulum rutrum. Vestibulum auctor felis eget ipsum semper vulputate. Sed congue, metus sit amet tempus pretium, nunc sapien pellentesque elit, ut porttitor eros orci nec arcu. Nunc lobortis risus eget eros viverra dapibus.</p>
            </article>
            <article id="article4">
                <h3>Article 4</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas, dui sed cursus placerat, felis metus sollicitudin nunc, nec venenatis augue tellus vitae nisl. Quisque ut venenatis est. Vestibulum non dolor nec sapien imperdiet semper nec quis massa. Phasellus ultrices vestibulum rutrum. Vestibulum auctor felis eget ipsum semper vulputate. Sed congue, metus sit amet tempus pretium, nunc sapien pellentesque elit, ut porttitor eros orci nec arcu. Nunc lobortis risus eget eros viverra dapibus.</p>
            </article>
        </main>
        <footer>
            Copyright &copy;2017
        </footer>
    </div>
</body>
</html>