h1{
    text-align: center;
}
table{

    margin: 0 auto;
}
th{
    padding: 10px;
}
td{

    width: 120px;
}
img{
    width: 100%;
}
.left{
    text-align: right;
    padding: 20px;
    font-weight: bold;
}
.right{
    padding: 10px;
}
p{
    padding: 8px;
    font-size: 12px;
    text-align: center;
}