
html, body, main, aside, p, h1, h2, h3,img, article, section, ul, li, a, footer, nav, header {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 1%;
}
header {
	background-color: gray;
	color: white;
}
h1 {
	padding-top: 5px;
}
header h1 {
	padding: 10px;
}

h2 {
	padding-bottom: 5%;
}
h3 {
	padding: 2% 0;
}
img {
	max-width: 100%;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
nav img {
	height: 120%;
	vertical-align:middle;
}
#back {
	border-radius: 10px;
    padding: 180px 10px;
    background-image: url("../img/background.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 1px 1px 6px #fcfcfc;
    color: #333;
}
/* nav a{
	color: #fff;
	text-transform: uppercase;
}
nav {
	width: 80%;
	background-color: pink;
	overflow: hidden;
}
nav ul{
	float:right;
}
nav ul li {
	display: inline-block;
	padding-right: 20px;
	padding-bottom: 10px;
} */
a:hover {
	color: gray;
}
main {
	padding: 20px 0;
	box-sizing: border-box;
}

aside {
	width: 20%;
	margin-right: 2%;
	display: inline-block;
	vertical-align: top;
}
.text-right {
	text-align: right;
	font-weight: bold;
}
.sections-container {
	width: 77%;
	display: inline-block;
}
article {
	text-align: justify;
}
footer {
	background-color: gray;
	text-align: center;
	color: white;
	min-height: 15%;
	font-weight: bold;
}
@media (max-width: 700px){
	body {
		margin: 1%;
	}
	.sections-container, aside {
		width:100%;
	}
	h1 {
		font-size: 19px;
	}

}



















