* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 3px red;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 25px;
    background-color: aqua;
    text-transform: capitalize;
}

input,
textarea {
    width: 240px;
    font-size: 16px;
    border: 1px dashed black;
    border-radius: 25px;
    padding-left: 10px;
    font-family: Times New Roman sans-serif;
}