main {
  background-color: #FFF8DC;
}

#responsiveCircle {
  background-color: #228B22;
}

#responsiveText:before {
  content: "large";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "680px + 999px";
  text-transform: lowercase;
}