main {
  background-color: #FF7F50;
}

#responsiveCircle {
  background-color: #6495ED;
}

#responsiveText:before {
  content: "medium";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "460px + 679px";
  text-transform: lowercase;
}