
img {
    width:700px;
}
body {
    background-color: aqua;
    width:100%x;
    margin:0px;
    z-index:-1
    
}
.galery {
    width:700px;
    text-align: center;
}
@media screen and (max-width:600px) {
         img {width:150px}
body {background-color: bisque}
    section {background-color: brown}
    h1 {text-align: left}
    h1 {font-size: 2em}
}
    

sections {
    background-color: azure;
    margin:30px;
}
