                                        section {
                                        font-size: 1em;
                                        background-color: lightcoral;
                                    }
                                    img {
                                        border-radius: 100%;
                                        z-index: 3;
                                    }
                                    .right {
                                        text-align: right;
                                    }
                                    @media screen and (min-width: 480px) {
                                        section {
                                            font-size: 1em;
                                            background-color: transparent;
                                        }
                                        .row {
                                            background-color: lightgray;
                                        }
                                        .container {
                                            width: 50%
                                        }
