
img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
div {
    padding: 10px;
    background-color: royalblue;
    
}

form  {
    display:block;
    margin: 0 auto;
    width: 300px;
        
}

textarea {
    width: 270px;
    height: 70px;
}

body {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


