body {
    font-size: 20px;
}

img {
    border-radius: 100%;
}

#info {
    text-align: right;
    vertical-align: middle;
}

#picture {
    background-color: #CCC9B9;
}

#information{
    background-color: #f2e6b5;
}