<div class="panel panel-default">
  <div class="panel-body">

    <h2>The Shop</h2>
    <img id="about" src="http://soundhead.hu/portal/images/stories/news2016/December/vinyl_digit/AmoebaByJumilla1400x540_1400_590_s_c1.jpg" alt="">
    <p>In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna. Fusce blandit nunc nec mi. Praesent vestibulum hendrerit ante.</p>
    <p>Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat, in accumsan ante lorem sit amet lorem.</p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h2>Our Team</h2>
    <ul>
      <li>
        <figure><img class="employee-img" src="https://cdn4.iconfinder.com/data/icons/rcons-user/32/boss_man-512.png" alt="">
          <figcaption>
            <p>Name Goes Here</p>
            <p>Job Title Here</p>
            <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure><img class="employee-img" src="https://cdn4.iconfinder.com/data/icons/rcons-user/32/boss_man-512.png" alt="">
          <figcaption>
            <p>Name Goes Here</p>
            <p>Job Title Here</p>
            <p>Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
          </figcaption>
        </figure>
      </li>

    </ul>
  </div>
</div>
