header {
  background-color: #8B5972;
  color: #F49EA9;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: Helvetica;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: right;
  background-color: #CD516D;
}

nav a {
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

aside {
  background-color: #F49EA9;
  width: 270px;
  padding: 30px;
  height: 100%;
  display: block;
  position: absolute;

}

#about, #news, #contact {
  padding-left: 360px;
}

footer {
  width: 100%;
  background-color: #CD516D;
  text-align: center;
  display: block;
  padding: 15px;
  position: static;
}

h3 {
color: #cd516d;
}





