body {
    background-color: white;
    width: 100%;
}
h1 {
    text-align: center;
    font-family: cursive;
}
nav {
    display: block;
    background-color: green;
    text-align:right;
    padding: 20px 0;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

ul{
    list-style: none;
    
}
#asi li {
    margin-bottom: 20px;
    margin-top: 30px;
    
}


#asi {
    text-align: left;
    width: 200px;
    height: 1000px;
    background-color: red;
    float: left;
}
#About, #Contact, #Projects {
    width: calc(100% - 200px);
    float: left;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: black;
    font-family: serif;
}
nav a {
    text-decoration: none;
    color:black;
}
aside a{
    color:black;
    font-size: 20px;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
}
#pic {
    float: left;
   border-style: solid;
}
#About ul {
float: left;
}

#About li {
    margin-top: 5px;
    margin-bottom: 5px;
}