* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	margin-top: 9em;
	font-family: 'Josefin Slab', serif;
	font-size: 2em;
}
ul,
ol {
	list-style: none;
}


/*Navbar start<><><><><><><><><><><><><><><><><>*/

.navbar-inverse {
	padding: 1.5em 0;
	border-radius: 0;
	background-color: #eade6d;
	border-color: #944444;
}

.navbar-inverse .navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
	color: #944444;
	font-size: 1.4em;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #944444;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #ffffff;
}

.navbar-inverse .navbar-toggle {
	border-color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #944444;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ffffff;
}


/*Navbar end<><><><><><><><><><><><><><><><><>*/

#shop,
#about,
#contact {
	display: none;
}


/*#Shop content start<><><><><><><><><><><><><><><><><>*/

#accordion1 li.panel {
	margin-bottom: 0em;
}

#accordion1 a {
	color: #944444;
}

#products img.inList {
	width: 14.3em;
	height: 14.3em;
}

#products .panel-footer {
	background-color: transparent;
	border-radius: 0em;
}

#items .price {
	background-color: black;
	color: white;
}

#products img.image-alone {
	width: 26.3em;
	height: 26.3em;
}

#products .panel-body.body-alone {
	width: 20em;
	height: 20em;
}


/*#Shop content end<><><><><><><><><><><><><><><><><>*/


/*#Contact content start<><><><><><><><><><><><><><><><><>*/

.contact-form {
	border: .09em solid #944444;
	background-color: #ffffff;
}

.send {
	text-align: center;
}


/*#Contact content end<><><><><><><><><><><><><><><><><>*/

footer {
	margin-top: 1.5em;
	background-color: black;
}

footer p {
	margin: 0;
	padding: 1.2em;
	color: white;
	font-size: .8em;
}