* {
	box-sizing: border-box;
}

body {
	margin-top: 8em;
}

.navbar-inverse {
	min-height: 6.1em;
	padding: 1em 0;
	border-radius: 0;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
}

ul,
ol {
	list-style: none;
}

#shop,
#about,
#contact {
	display: none;
}

#accordion1 li.panel {
	margin-bottom: 0em;
}

#products img {
	width: 14.3em;
	height: 14.3em;
}

#products .panel-footer {
	background-color: transparent;
	border-radius: 0em;
}

#items .price {
	background-color: black;
	color: white;
}