body {
    font-size: 20px;
}

img {
    border-radius: 60%;
    border-color:lightgrey;
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

#info {
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
}

#photo {
    background-color: #FF1493;
    
}

#info {
    background-color: #FF1493;
}

table {
    background-color: deeppink;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
