<div class="container">
    <div class="jumbotron jumbotron-sm">
        <h1>About us</h1>
    </div>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo possimus quod ipsa, necessitatibus nesciunt sint, expedita eos rerum vitae neque cumque dolorem a natus delectus autem laudantium nihil nostrum soluta.</span>
        <span>A alias commodi praesentium unde, fuga doloremque laboriosam! Facere quae, sed quasi impedit minus illo cum sunt dicta ipsum unde odit, harum quos enim doloremque repellat et incidunt fuga maxime.</span>
        <span>Nobis cumque temporibus earum explicabo doloribus eveniet suscipit minima eos libero id labore molestiae similique consectetur quas voluptatum mollitia nostrum tempore delectus non, iure, atque sed, at cum. Voluptatibus, cupiditate.</span>
        <span>Maxime laboriosam cumque dignissimos quia sapiente a quas excepturi eos eligendi aperiam magnam itaque dicta odit optio veniam, quidem praesentium facilis recusandae, beatae odio at voluptate, architecto quod! Dolorem, ipsa.</span>
        <span>Perferendis aliquam eius harum quas odio adipisci, maxime autem id quam porro, nostrum cupiditate distinctio molestiae repellat, illo. Tenetur dolores corporis nisi iusto in suscipit laboriosam dolor officiis saepe animi?</span></p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptate tenetur perferendis dolor quia aut, aliquid tempora, consectetur est repellat quis cumque eum quaerat dolores tempore officiis harum. Esse, quo!</span>
        <span>At veritatis nihil numquam laboriosam dolores quisquam saepe beatae voluptatum aspernatur veniam, eius vero soluta nulla cumque voluptatibus dolorem aliquid nemo quasi, rerum perferendis magnam doloribus asperiores ab. Tenetur, officiis.</span>
        <span>Inventore saepe amet, illo reprehenderit aliquam vel quis, vero, laboriosam optio cum nihil fugiat dolorem similique quo, nisi explicabo quam sint dolor laudantium reiciendis temporibus veniam eligendi autem libero. Soluta.</span>
        <span>Facilis nihil debitis id quia, commodi doloribus placeat perspiciatis praesentium maiores impedit officiis aspernatur quidem, veritatis omnis aliquid magnam quisquam sequi voluptatum iusto rem asperiores temporibus soluta? Quos, unde ipsum!</span>
        <span>Eum soluta, et ut quibusdam. Nobis dolorum deleniti suscipit. Placeat, earum minima! Asperiores ab officiis qui, inventore ut. Assumenda ut esse architecto inventore nam, numquam dolorem magni alias officia aperiam.</span></p>
</div>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Subject</label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="service">General Customer Service</option>
                                    <option value="suggestions">Suggestions</option>
                                    <option value="product">Product Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Message</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">
                        P:</abbr>
                    (123) 456-7890
                </address>
                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </form>
        </div>
    </div>
</div>
