img {
    width: 150px;
    border-radius: 100%;
    padding: 0 10px 0 10px;
}

section {
    display: table;
    font-family: 'Slabo 27px', serif;
}

.info {
    background-color: #f1f8ff;
}

.row1 {
    background-color: #b5d7e3;
    display: table-cell;
    vertical-align: middle;
}

.row2 {
    display: table-cell;
    text-align: right;
    height: 150px;
    vertical-align: middle;
    padding: 0 5px 0 20px;
    font-weight: bold;
}

.row3 {
    display: table-cell;
    text-align: left;
    height: 150px;
    vertical-align: middle;
    padding: 0 20px 0 5px;
}