* {
  box-sizing: border-box;
}
body, a, h1, h2, h3, h4, h5, h6, textarea, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

body {
  font-family:monospace;
  font-size: 100%;
  background: white;
  display:inline;
}
header {
    background-color: #CCFF99;
    color: black;
    min-height: 110px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: monospace;
}
footer {
  background-color: #D6D6C2;
  width: 100%;
  text-align: center;
  display: block;
  position: static;
}

