body {
    background-image: url("../img/Untitled-5.png");
    background-repeat:repeat;
}

.article {
    background-color: #fff;
    font-size: 1.2em;
    border: 1px #abccb2 solid;
    border-radius: 5px;
    margin: 30px; 
}

.absurd_img {
    max-height: 400px;
}

footer {
    background-color: #fff;
}