body {
    background-color: #d2d2cf;
}

.article {
    background-color: #fff;
    font-size: 1.2em;
    border: 1px #000 solid;
    border-radius: 5px;
    margin: 30px; 
}

footer {
    background-color: #fff;
}