.portfolio {
    margin-bottom: 50px;
}

.container {
	margin-top: 20px;
}
.body {
    margin-bottom: 200px;
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
input, textarea {
	width:439px;
	height:40px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:1em;
	color:#3a3a3a;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#submit {
    width:439px;
    height:40px;
    border:1px solid #dedede;
    margin-top:10px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.8;
	}

textarea {
	height:213px;
}

#clear {
    clear: both;
}

.error {
    border: 1px red solid;
}
.error-span {
    color: coral;
}

@media (max-width: 660px) {
    input, textarea {
        max-width: 300px;
        max-height: 150px;
    }
}
