.container {
    position: relative;
    font-family: Sans-Serif;
}

.table {
    display: table;
    width: 700px;
    background-color: aquamarine;
}

.table_row {
    display: table-row;
}

.info {
    height: 50px;
    width: 80px;
    padding-top: auto;
    padding-left: 50px;
    font-weight: bold;
    text-align: right;
}

.description {
    height: 50px;
    width: 350px;
    padding-left: 10px;
}

.table_cell {
    display: table-cell;
    height: 50px;
}

#portrait {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
}

img {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 20px solid dodgerblue;
    border-radius: 100%;
    box-sizing: border-box;
}