.center {
    /* For offseting the row vertically and for centering the rocket and the text */
    margin-top: 10%;
    text-align: center;
}

#rocket_bay {
    width: 297px;
    height: 500px;
    background: url(img/rocket.png) 0px 0px;
}

#main {
    margin-top: 8%;
    font-size: 2.5em;
}

.button_holder {
    margin-top: 1%;
}


/* Lifting off animation */

@keyframes toTheMoon {
    0% {
        top: 0px;
    }
    100% {
        top: -1400px;
    }
}

.liftingOffNow {
    animation-name: toTheMoon;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

#rocket_bay.taking-off {
    background-position: 298px 0;
}

#rocket_bay.hideme {
    opacity: 0;
}