* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

header h1 {
    font-size: 1.7em;
    color: deepskyblue;
    background-color: #c1bebe;
    height: 160px;
    line-height: 160px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid deepskyblue;
}

#change-element-h2 {
    text-align: center;
    color: deepskyblue;
    margin-top: 70px;
}

#about h3 {
    color: deepskyblue;
    padding-left: 20px;
    padding-top: 20px;
}

#portfolio h3 {
    color: deepskyblue;
    padding-left: 20px;
    padding-top: 20px;
}

main {
    margin: 0 auto;
    width: 80%;
}

nav {
    border: 2px solid deepskyblue;
    box-shadow: 8px 0 15px -4px deepskyblue, -8px 0 8px -4px deepskyblue;
}


nav ul {
    display: table;
    height: 80px;
    background-color: black;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
    width: 80px;
}

nav ul li a {
    text-decoration: none;
    color: deepskyblue;
    text-align: center;
    border-right: 2px solid deepskyblue;
    padding-right: 5px;
    height: 30px;
    line-height: 30px;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
}


#about {
    background-color: #c1bebe;
    margin-top: 70px;
}

#portfolio {
    background-color: #c1bebe
}

#btn-home a {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: deepskyblue;
    text-align: center;
    color: white;
    border-radius: 100%;
}

.text {
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: deepskyblue;
    background-color: black;
}



