#wrapper {
    width: 600px;
    background-color: black;
    height: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

ul {
    display: flex;
    padding-left: 25px;
}

li {
    width: 200px;
    height: 150px;
    margin: 10px;
    flex-grow: 1;

}

.yellow {
    background-color: yellow;
    flex-basis: 200px;
    flex-grow: 1;
}

.green {
    background-color: #4cae4c;


}

article {
    width: 300px;
    height: 250px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-grow: 2;
    font-weight: bold;
    font-size: 60px;
    justify-content: center;
    margin-left: 30px;

}

aside {
    flex-grow: 1;
    flex-direction: column;
}

aside div {
    width: 200px;
    height: 120px;
    background-color: #5bc0de;
    flex-grow: 1;
    margin-left: 10px;


}
.second{
    margin-top: 10px;
    margin-left: 10px;
}

main {
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    margin-bottom: 25px;

}

nav {
    flex-grow: 1;
}

p {
   display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

@media  only screen and (max-width:600px) {
    *{
        box-sizing: border-box;
    }
    article{
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    div{
       /* width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;*/
        flex-grow: 2;
    }

    aside{
        /*flex-direction: row;
        width: 100%;*/
        /*flex-grow: 1;*/
        box-sizing: border-box;
    }
    #wrapper{
        width: auto;
        height: auto;

    }
    main{
        display: flex;
        flex-wrap: wrap;
        padding: 5px;

    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }
    aside div {
        width: 100%;
        height: 120px;
        margin: 0 auto;
        box-sizing: border-box;

        margin-top: 10px;
        flex-direction: row;


    }
.second{
    margin-left: 0;
    box-sizing: border-box;
    display: block;
    min-width: 100%;
    width: 200px;

}

p{
    word-spacing: 200px;
}
li{
    margin: 5px;
    margin-left: 0px;
}
ul{
    padding-left: 5px;
}

}