div {
    height: 250px;
    width: 250px;
    background-color: mediumvioletred;
    border-radius: 100%;
    margin: 100px auto;
}

p {
    text-align: center;
    padding: 60px;
    color: aliceblue;
    font-size: 30px;
}

* {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
}