* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body, ul, video, audio {
  padding: 0;
  margin: 0;
}

video {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -9999;
}

header {
    display: table;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: lightblue;
}

nav{
    border-top:4px solid lightblue;
    border-bottom: 4px solid lightblue;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

a{
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-left:10px;
    
}

a:hover {
    color: cornflowerblue;
}