/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITs AND TELL YOUR FRIENDS ABOUT US

    Color: Black Background
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    background-image:url(../../img/stardust.png);
}

/* =============================================================
   NAVBAR  STYLES
 ============================================================ */
.navbar-inverse {
background-color: #000;
border-color: #000;
}
/* =============================================================
   ABOUT STYLES
 ============================================================ */
.developer-img {
    border: 5px solid #000;
}



.testimonial:after {
    border-top-color: #000;
}

.testimonial {
    border: 1px solid #000;
}

.testimonial-name {
    color: #000;
}
