* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    font-size: 25px;
}

article img {
    width: 200px;
}

#fleximg {
    display: none;
}

header hr {
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
}

header {
    text-align: center;
}

nav {
    margin: 20px;
}

#container {
    width: 800px;
    border: 2px solid black;
    margin: 30px auto;
    max-width: 100%;
}

main {
    padding: 20px 30px;
}

.left {
    float: left;
    margin-right: 15px;
}

.right {
    float: right;
    margin-left: 15px;
}

article p {
    overflow: auto;
    font-size: 1.5em;
    text-align: justify;
}

article {
    clear: both;
    margin: 10px 0;
    padding: 10px;
}

footer {
    margin-top: 40px;
    padding: 30px 0;
    background-color: #303030;
    color: #ccc;
    text-align: center;
    text-transform: none;
    font-size: 20px;
}

footer a {
    margin: 20px;
    color: gray;
}

@media (max-width: 799px) {
    body {
        background-color: coral;
    }
    img.left,
    img.right {
        float: none;
        width: 360px;
        margin: 20px auto;
        display: block;
    }
}

