body {
  background-color: #00ff1d;
}

h1 {
  font-family: sans-serif;
  color: red;
}

form {
  border-radius: 8px;
  border-color: black;
  border-width: 3px;
  border: solid;
  background-color: aquamarine;
  max-width: 30%;
  margin-top: 20px;
  margin-left: 20px;
}

.fp {
  padding-top: 10px;
  margin-left: 10px;
}

button {
  margin-bottom: 10px;
  font-size: 1.2em;
}

input {
  background-color: #00ff1d;
}
