.list-item {
    display: block;
    margin: 20px;
    padding-top: 5px;
}

ul li {
    display: inline-table;
    padding-left: 5px;
    padding-right: 20px;
    font-family: "courier monospace";
    font-size: 16px;
    line-height: 1.25em;    
}

img {
    width: 150px;  
    height: 150px;
    border-radius: 100%;
    float: left;
    margin-right: 5px;
    z-index: 55;
    background-color: bisque;
    backface-visibility: visible;
}

.bold {
    text-align: right;
}

.answer {
    text-align: left;
    padding-left: 10px;

}

#text-list {
    padding-left: 10px;
}


