body {
    box-sizing: padding-box;
    border: 0;
    margin: 0;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-style: dotted;
    border-color: red;
}

a:link, a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    background-color: bisque;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: underline;
}

tr, .tr {
    background-color: aqua;
}

th, .th {
    text-align: right;
    border: 1px white solid;
    padding-right: 5px;
}

td, .td {
    text-align: left;
    text-indent: 10px;
    border: 1px white solid;
    padding: 0;
}

.table {
  width: 100%;
}

.main-table {
    width: 500px;
    line-height: 1.6em;
    font-size: 1.2em;
}

img,
.main-table table td,
.main-table table th,
.main-table .table .td,
.main-table .table .th {
  padding: 5px;
}


.table {
    display: table;
    border: 1px white solid;
}

.tr {
    display: table-row;
}

.td, .th {
    display: table-cell;
    vertical-align: middle;
    border: 2px white solid;
}
