 * {
     box-sizing: border-box;
 }
 
 body {
     background-color: gray;
     font-family: 'Shrikhand', cursive;
     margin-left: 150px;
     margin-right: 150px;
 }
 
 #title {
     background-color: azure;
     padding: 30px;
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: center;
     border-radius: 5px;
 }
 
 #social {
     display: block;
     background-color: white;
     padding: 30px;
     height: 300px;
     text-align: left 30px;
     text-decoration-color: gainsboro;
     border-radius: 5px;
 }
 
 .icon {
     background-size: auto 35px;
     background-position: 20px 10px;
     margin: 10px 10px 10px 10px;
 }
 
 hr {
     width: auto 750px;
     color: gainsboro;
 }