header {
    background-color: skyblue;
    color: lightgoldenrodyellow;
        min-height:200px
        padding-top:200px
    padding-left: 
}
header {
  background-color: #181860;
  color: #F0D8D8;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: Helvetica;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
  background-color: #A8A8C0;
}

nav a {
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

aside {
  background-color: lightgrey;
  width: 270px;
  padding: 30px;
  height: 100%;
  display: block;
  position: absolute;

}

#about, #projects, #contact {
  padding-left: 360px;
}

footer {
  width: 100%;
  background-color: burlywood;
  text-align: center;
  display: block;
  padding: 15px;
  position: static;
}
body {
 background-color: peachpuff;
 }

 h1 {
 background-color: cornsilk;
 margin-top: 25px;
 margin-right: 35px;
 margin-bottom: 55px;
 margin-left: 85px;
 /* equivalent to: margin: 25px 35px 55px 85px; */
 }

h1 {
 padding-top: 44px
 padding-right: 65px;
 padding-bottom: 85px;
 padding-left: 100px;
}
 h1 {
 padding: 44px 65px 85px 100px;
}

h1 {
 border-top-width: 20px
 border-right-width: 20px;
 border-bottom-width: 20px;
 border-left-width: 20px;
 border-style: solid;
 border-color: khaki;
}
h1 {
 border: 20px khaki solid;
}

p { color: brown; }
p.groupped { color: skyblue; }
p#unique { color: lightcoral; }