main {
  background-color: #fff8dc;
}

#responsiveCircle {
  background-color: #228b22;
}

#responsiveText:before {
  content: "large";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "680px - 999px";
  text-transform: lowercase;
}