* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body, ul, video, audio {
  padding: 0;
  margin: 0;
}

video {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

audio {

    display:flex;
    align-items: center;
    justify-content: center
}

header {
}
