h1 {
    font-size: 50
}
body {
    background color: aqua
}
img {
    width: 25%;
    float: left;
    border-radius: 100%
}

div {
  
       
    font-size: 50
}

section {
    display: table;
    
        
}

h2 {
    display: inline;
        padding: 20px;
    
        
}

p {
    display: inline;
    
    
        
}