body {
    background-color: lightblue;
}
h1 {
    background-color: yellow;
    padding: 30px;
}
#header {
    background-color: brown
}

section {
    background-color: lightpink;
    padding: 50px;
}