main {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1 {
    margin-top: 0px !important;
}

header {
    background-color: darkseagreen;
    padding: 0px;
    position: relative;
}

nav {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

section {
    
}

article {
    display: block;
    float: left;
    width: 60%;
    background-color: darkcyan;
    padding-right: 30%;
}

article p {
    margin: auto;
}

aside {
    display: block;
    float: left;
    background-color: cadetblue;
    width: 40%;
    height: 30%;
}

footer {
    display: block;
    clear: both;
    background-color: darkseagreen;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 2em;
    text-align: center;
}