body {
    width: 100%;
    background-color: darksalmon;
}

#responsiveCircle {
    background-color: lightblue;
    border-radius: 100%;
}

#responsiveText:before {
    content: "large";
    display: block;
    line-height: 5em;
}

#responsiveText:after {
    clear: left;
    font-size: .5em;
    content: " > 680px";
    text-transform: lowercase;
}