main {
    background-color: deeppink;
}

#responsiveCircle {
    background-color: cornflowerblue;
}

#responsiveText:before {
    content: "madium";
    display: block;
    line-height: 1em;
}

#responsiveText:after {
    clear: left;
    font-size: .5em;
    content: " 460px - 679px";
    text-transform: lowercase;
}