header {
    background-color: purple;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-family:inherit;
    font-size: 30px;
}
nav  {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: right;
    background-color: black;
}
nav a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
aside {
    float: left;
    display: block;
    padding: 30px;
    width: 150px;
    height: 800px;
    background-color: rgba(17, 2, 89, 0.79);
    color: white;
}
aside ul {
    list-style-type: none;
    text-align: left;
}
aside {
    background-color: grey;
    width: 270px;
    padding: 30px;
    height: 100%;
    display: block;
    position: absolute;
}
#about, #projects, #contact {
    padding-left: 360px;
}
#about img {
    float: right;
}
#about h1 {
    text-align: center;
    color: purple;
    font-size: 25px;
}
footer {
        width: 100%;
        background-color: purple;
        text-align: center;
        display: block;
        padding: 15px;
        position: static;
}
