.table-holder{
	background-color: cyan;
}

table tr td:first-child{
	text-align: right;
	font-weight: bold;
}
table table tr td{
	height: 25px;
    
}

table tr td{
	background-color: lightblue;
}
td.table-holder td{
	background: none;
}
.tb{
	display:table;
	table-layout: fixed;
}
.tr{
	display: table-row;
}
.tc{
	display: table-cell;
	vertical-align: middle;
}
.tc-table-holder{
	padding: 0 10px;
    background-color: cyan;
}
.table-holder .tb .tr .tc:first-child{
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}
img{
	border-radius: 100%;
	width: 150px;
	height: 150px;
}

.first{
    background-color:lightblue;
}


.picplace{
    background-color:lightblue;
}

.underground{
    background-color: lightblue;
}

p{
	line-height: 0;
}

.ground{
    padding-right: 30%;
    padding-bottom: 13%;
    margin-top: 1%;
}