fieldset {
    margin: 30px;
    display: block;
    background-color: lightgreen;
    width: 350px;
    border-radius: 8px;
}

legend {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    padding: 15px;
    font-size: 25px;
}

#submit {
    border-radius: 8px;
    background-color: white;
}