* {
    box-sizing: border-box;
}
body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Times New Roman", serif;
    font-size: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
header {
    background-color: bisque;
    color: brown;
    font-family: "Times New Roman", serif;
    text-align: center;
    font-size: 15pt;
    flex: 3;
    display: flex;
    justify-content: center;
    overflow: visible;
}
nav {
    width: 100%;
    text-align: left;
    background-color: beige;
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    border-color: black;
    padding: 5px;
    font-size: 18pt;
    align-items: center;
}
nav a {
    text-transform: none;
    text-decoration: none;
    font-size: 18pt;
    font-family: "Times New Roman", serif;
}
main {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex: 25;
}
aside {
    background-color: beige;
    border-right: solid;
    border-width: thin;
    border-color: black;
    font-size: 15pt;
    font-family: "Times New Roman", serif;
    padding: 15px;
    flex: 1;
    -webkit-flex: 1;
    overflow: hidden;
}
aside a {
    text-decoration: none;
}
aside p {
    margin-top: 0px;
    text-align: left;
}
li {
    padding-bottom: 15px;
    list-style-type: none
}
.container {
    padding: 15px;
    flex: 6;
    -webkit-flex: 6;
    overflow-x: scroll;
}
footer {
    display: flex;
    width: 100%;
    background-color: bisque;
    border-top: solid;
    border-width: thin;
    border-color: black;
    color: brown;
    padding: 5px;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
label {
    font-size: 14pt;
}
.buttons {
    font-size: 14pt;
}
#reset {
    text-align: right;
}
i {
    margin: 5px;
}
legend {
    font-size: 20pt;
    font-style: italic;
    font-weight: bold;
}
span {
    color: red;
}
