body {
    background-color:floralwhite;
}
h1 {
    text-align: left;
    font-family:inherit;
    color:crimson;
    margin: 15px;
}
h2 {
    text-align: center;
}
strong {
    color:crimson;
}
img {
   width: 50%;
   height: 10%;
}
#cat {
    width: 50%;
    height: auto;
}
/*unvisited link*/
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #dc2314;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
