.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.btn-container {
	overflow: visible;
	width: 110px;
	overflow: visible;
}

.btn-red {
	background-color: #965454;
	border: rgba(224, 192, 168, .5) 10px dashed;
}

.btn-green {
	background-color: #488448;
	border: rgba(192, 224, 168, .5) 10px dashed;
}

.btn-yellow {
	background-color: #968454;
	border: rgba(224, 192, 168, .5) 10px dashed;
}

.btn-blue {
	background-color: #484856;
	border: rgba(168, 198, 224, .5) 10px dashed;
}

main {
	text-align: center;
	background-color: #965454;
	width: 800px;
	color: white;
}

nav {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 479px) {
	nav {
		display: inline-block;
	}
}