main {
  background-color: lightgoldenrodyellow;
}

#responsiveCircle {
  background-color: green;
}

#responsiveText:before {
  content: "small";
  display: block;
  line-height: 1em;
}

#responsiveText:after {
  clear: left;
  font-size: .5em;
  content: "680px - 999px";
  text-transform: lowercase;
}