    body {
        margin: 0 auto;
    }
    
    header {
        padding-left: 10%;
    }
    
    .container-1 {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .contaier-0 {
        height: 200px;
        width: 100%;
    }
    
    .col-lg-3 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .row-1>.col-lg-4 {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /*Min*/
    
    @media(max-width:700px) {
        .container-1 {
            background-color: bisque;
        }
        .container {
            padding: 0px;
        }
        .col-lg-3 {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .row-1>.col-lg-4 {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    /* Small */
    
    @media(min-width:768px) and (max-width:991px) {
        .vertical-align {
            height: 100%;
            width: 300px;
            display: flex;
            padding: 0px;
            align-items: center;
        }
        [class=row-1] {
            height: 130px;
        }
        img .img-circle img-responsive center-block {
            height: 130px;
            width: 130px;
        }
    }
    /* Medium */
    
    @media(min-width:992px) and (max-width:1199px) {
        .vertical-align {
            height: 100%;
            display: flex;
            align-items: center;
        }
        [class=row-1] {
            height: 150px;
        }
        img .img-circle img-responsive center-block {
            height: 150px;
            width: 150px;
        }
    }
    /* Large */
    
    @media(min-width:1200px) {
        .vertical-align {
            height: 100%;
            display: flex;
            align-items: center;
        }
        [class=row-1] {
            height: 200px;
        }
    }