
    
}
body  {
  background-color:white;
    z-index:-1
}
header h1,h2 {
    
    text-align: center;
margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 200px;
   
    padding-bottom:30px;
    padding-top:30px;
      height:200px;
    width:100%;
}
header {
    background-image:url(../image/snimka.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

 
}

}
h1,h2 {
    color:whitesmoke;
}
.container {
    background-color:azure;
    
}
      

