body {
    font-family: 'Roboto', sans-serif;
    background: url(../img/SplitShire-0148.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: black;
    text-align: justify;
}

header {
    display: table;
}

img {
    display: table-cell;
    border-radius: 25px;
    width: 150px;
}

h1 {
    color: #0AA991;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.28);
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    font-size: 36px;
    padding-left: 20px;
    .
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    -webkit-margin-before: 0.33em;
    -webkit-margin-after: 0.33em;
}

h5 {
    -webkit-margin-before: 0.33em;
    -webkit-margin-after: 0.33em;
}

section {
    display: table-cell;
    width: 167px;
    text-align: center;
}

.work {
    display: table;
}

.container {
    display: block;
    background-color: rgba(240, 248, 255, 0.71);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin: 90px auto auto;
    padding: 30px;
    width: 500px;
    height: 523px;
}

.contacts {
    display: table;
    padding-top: 14px;
}

.info {
    display: table-cell;
    width: 167px;
}

.contacts img {
    width: 95px;
    margin: auto;
}

.buttons {
    background-color: #6AAC24;
    box-shadow: 0 0px 9px 0 rgba(0,0,0,0.2), 0 3px 9px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 10px;
    width: 16%;
}

.buttons:hover {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24), 0 9px 50px 0 rgba(0,0,0,0.19);
}

.input-group {
    padding-bottom:20px;
}

#social {
    width: 64px;
    padding-bottom: 86px;
    padding-left: 20px;
}

#email {
    padding-left: 22px;
}

#contactheader {
    padding:0 20px 20px 0;
}