h1 {
    color: darkgreen;
    text-align: center;
}

h2 {
    color: darkgreen;
    margin-left: 400px;
}

form {
    margin-left: 10px;
}

label {
    display: inline-block;
    width: 200px;
    cursor: default;
    display: inline-block;
    margin: 5px 0px 0px 5px;
    padding: 2px;
}

span {
    color: red;
    font-size: 20px;
}

img #clock {
    width: 300px;
    height: 400px;
}

#demo {
    font-size: 25px;
    background-color: lightgreen;
    width: 180px;
}

#warning {
    font-size: 20px;
    color: darkred;
}

#smile {
    width: 60px;
    height: 50px;
}