.table {
    display: table;
    background-color: rgba(127, 255, 212, 0.08);
    margin-left 5px;
    padding-top: 3px;
}

.table-cell {
    display: table-cell;
    vertical-align: text-top;
}

.table, .table-cell {
    display:inline-block;
}

img {
    border-radius: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-left: 3px;
    margin-top: 3px;
}

#photo {
    background-color: rgba(0, 255, 255, 0.13);
}

ul {
    list-style-type: none;
    font-size: 2em;
}

#right {
    text-align: right;
    font-size: 2em;
    font-family: sans-serif;
}

#left {
    text-align: left;
    font-size: 2em;
    font-family: sans-serif;
}

#left li {
    margin-right: 24px;
}
