body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

ul {
     position: relative;
}

.header {
    background: #777;
    color: #fff;
    padding: 10px 0;
}

.list-contacts{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.list-contacts > li {
    display: inline-block;
}

.list-contacts > li:not(:first-child) {
    margin-left: 10px;
}

.list-contacts a{
    text-decoration: none;
    color: #fff;
}

.list-contacts a .fa{
    padding-right: 5px;
    font-size: 17px;
}

.hero-unit {
    height: 540px;
    background: url('picture.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
}
.hero-unit .hero-unit-title{
    margin-top: 0;
    font-size: 50px;
    color: #fff;
}
.hero-unit .hero-unit-text{
    font-size: 25px;
    color: #fff;

}
.hero-unit .hero-unit-caption {
    margin-top: 130px;
    padding: 15px;
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
}
.offers {
    position: relative;
    margin: 25px 0;
    padding: 0 35px;
}

.offers .owl-prev,
.offers .owl-next {
    position: absolute;
    top: 25px;
    /* transform: translateY(-50%); */
    font-size: 65px;
}
.offers .owl-prev {
    left: 0;
}
.offers .owl-next {
    right: 0;
}

.footer {
    padding-top: 25px;
    background: #333;
}
.map {
    width: 100%;
    height: 344px;
}

.copy-right {
    padding: 7px 0;
    background-color: #777;
    color: #fff;
    text-align: center;
}
 
.text {
   color:  #333;
   padding-bottom: 20px;
}