@media only screen and (min-width: 599px);
@media only screen and (max-width: 600px);
body {
    background-color: black;
}

#row {
    display: inline-flex;
    justify-content: center;
    padding-top: 75px;
    margin: auto 0;
}

.yellow {
    background-color: yellow;
    height: 150px;
    width: 298px;
    margin: auto;
    padding: 1px;
}

.green {
    background-color: green;
    height: 150px;
    width: 298px;
    margin-top: auto;
    padding: 1px;
    margin-right: 5px;
}

.red {
    width: 1300px;
    height: 205px;
    background-color: red;
    display: block;
    margin-left: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

section {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

.wynshen {
    width: 850px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.blue {
    width: 200px;
    height: 98px;
    background-color: blue;
    margin-bottom: 10px;
    margin-left: -125px;
    display: block;
}

.double-blue {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 500px;
    height: 500px;
}

.vutre {
    display: flex;
    box-sizing: border-box;
    width: 3000px;
    height: 900px;
}

div {
    display: flex;
}