body {
    font-size: 1.6em;
}

.col-lg-2 {
    background-color: #CCC9B9;
}

.col-middle, .col-right {
    background-color: #f2e6b5;
}

.vertical-align {
    display: flex;
    align-items: center;
}
