td, th {
    padding: 10px;
}
th {
    text-align: right;
    background-color: #ccc;
    padding-left: 10px;
}
td {
    background-color: #f1f1f1;
    padding-right: 20px;
}
nav a {
    font-family: Helvetica, sans-serif;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 280px;
    display: inline-block;
}
.top-link {
    text-decoration: none;
}
.top-link::before {
    content: "\2191";
}
.purple {
    background-color: purple;
}
.blue {
    background-color: blue;
}
.lightblue {
    background-color: lightblue;
}
.blueviolet {
    background-color: blueviolet;
}
body
{
    background-image:url(tuhli.jpg)


} 


