* {
    box-sizing: content-box;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: deepskyblue;
    font-size: 2.1em;
}

h2 {
    margin-top: 50px;
    color: deepskyblue;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: deepskyblue;
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

#main-info-content {
    display: table;
    height: 150px;
}

#img-content {
    background-color: deepskyblue;
    display: table-cell;
    width: 150px;
    height: 150px;
    line-height: 150px;
    padding: 0px;
}

#my-img {
    width: 160px;
    height: 160px;
    vertical-align: middle;
    border-radius: 100%;
    padding: 0px;
}

#info-content {
    display: table-cell;
    width: 200px;
    height: 160px;
    vertical-align: middle;
    margin-left: 15px;
}

#info-content-cell {
    display: table;
    margin-left: 10px;
}

#left-column {
    display: table-cell;
    width: 120px;
    text-align: right;
    padding-left: 10px;
}

#left-column p {
    font-weight: bold;
}

#right-column {
    display: table-cell;
    padding-bottom: 0px;
    padding-left: 5px;
    
}













