/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITs AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    line-height: 35px;
    background-color: #339966;
}

.row-pad {
    padding-top: 30px;
    padding-bottom: 50px;
}

.clr-white {
    color: #fff;
}

h1 {
    padding-top: 50px;
    font-family: 'Yellowtail', cursie;
    padding-bottom: 20px;
}
/* =============================================================
   NAVBAR  STYLES
 ============================================================ */
.navbar-inverse {
background-color: #21925C;
border-color: #21925C;
}

.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}


.navbar-inverse .navbar-brand {
color: #FFF;
}
/* =============================================================
   HOME STYLES
 ============================================================ */
.icon-round {
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
    margin: 5px;
   
}

   

.main-img {
    max-height: 550px;
    margin-top: 50px;
}

.btn-dwwn {
    max-height: 50px;
    border: 2px solid #fff;
    margin: 5px;
}
/* =============================================================
   STATS STYLES
 ============================================================ */
#stats {
    color:#fff;
    padding-bottom:30px;
}
/* =============================================================
   DEVELOPER STYLES
 ============================================================ */
#dev-sec {
    background-color: #fff;
    padding-bottom: 50px;
}

.developer-img {
    max-height: 120px;
    margin: 20px;
    border: 5px solid #339966;
}


/* =============================================================
   ABOUT STYLES
 ============================================================ */
#about-sec {
    background-color: #fff;
    padding-bottom: 50px;
}
.testimonial:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #339966;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #339966;
}

.testimonial-name {
    color: #339966;
    margin-top: 30px;
    margin-left: 60px;
}
/* =============================================================
   PRICE STYLES
 ============================================================ */

#price-sec {
    color: #fff;
    padding-bottom: 80px;
}

.price-div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid #fff;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
    margin:3px;
}

    .price-div span {
        font-size: 50px;
        display: block;
    }

    .price-div small {
        display: block;
    }

    .price-div a, .price-div a:hover {
        background-color: #fff;
        text-decoration: none;
    }

/* =============================================================
   CONTACT STYLES
 ============================================================ */
#contact-sec {
    background-color: #fff;
    padding-bottom: 50px;
}

    #contact-sec h4 {
        font-size: 16px;
    }
/* =============================================================
   FOOTER STYLES
 ============================================================ */
#footer {
    padding: 15px;
    text-align: right;
    color: #fff;
}

/* =============================================================
   SCROLL TO UP STYLES
 ============================================================ */
.toup-div {
    position:fixed;
    bottom:20px;
    right:15px;
    color:#fff;
    background-color:rgba(0, 0, 0, 0.29);
    padding:5px 10px 5px 10px;
    font-size:20px;
}

    .toup-div a, .toup-div a:hover {
        color:#fff;
        text-decoration:none;
    }