 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    padding: 1%;
}

body {
    padding: 1%;
}

.header {
    width: 100%;
    border: 5px solid #4da6ff;
    background-color: #ffff80;
    color: #ff6666;
    margin: 0 0 1% 0;
}

.header h2 {
    font-size: 3.5em;
    margin: 5%;
    font-family: helvetica, serif;
}

aside {
    border: 3px solid #000;
    background-color: #ff0066;
    float: left;
    width: 20%;
    padding: 4% 1% 30% 1%;
}

aside h3 {
    font-size: 2em;
    font-family: helvetica, serif;
    text-transform: uppercase;
    margin-bottom: 10%;
}

aside ul li {
    list-style: none;
}

aside ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
}

article {
    float: right;
    width: 80%;
    padding: 4%;
}

article h1 {
    font-size: 3.6em;
    font-family: helvetica, serif;
    text-transform: capitalize;
    margin-bottom: 2%;
}

#article-1, #article-2 {
    font-size: 2.2em;
    font-family: helvetica, serif;
    text-transform: capitalize;
    margin-bottom: 2%;
}

article p {
    padding-right: 5%;
    padding-bottom: 4%;
}

.up {
    position: fixed;
    bottom: 1.5%;
    right: 1.5%;
    width: 70px;
    height: 70px;
    background-color: rgb(248, 251, 144);
    color: #000;
    border-radius: 100%;
    padding-top: 2%;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.up:hover {
    background-color: #ff99ff;
    color: #000;
}
