body {
    font-family: sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Shadows Into Light', cursive;
}

header {
    position: relative;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    background-color: greenyellow
}
.nav-link {
    display: inline-block
}
h3 {display: table-cell}
main {
    display: table;
}
.side-nav {
    display: table
}
aside {
    width: 100%;
    background-color: lightyellow;
    padding: 30px;
    display: block;
}

section {
    padding-left: 30px;
    display: block;
}

#top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 2em
}

footer {
    background-color: burlywood;
    color: white;
    height: 40px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
}
