<section id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Lorem Ipsum</h2>
          <p>Nullam tempus, lacus sed tempus convallis, orci tellus rutrum lacus, ut hendrerit lectus lacus efficitur odio. Vestibulum lectus tortor, vulputate ac massa ut, vestibulum cursus lectus. Sed metus enim, tincidunt et vestibulum non, fringilla eu eros. Quisque diam mi, aliquet id placerat sed, viverra at metus. Nunc eros velit, ornare in finibus nec, rhoncus sit amet libero. Aenean tempor bibendum venenatis. Sed commodo nec eros aliquam finibus. Suspendisse potenti. Aliquam a mi ac purus auctor fringilla ac a nisi. Aliquam et leo orci. Sed egestas mi in quam vehicula, sed vestibulum turpis scelerisque. Curabitur odio elit, dictum sed odio nec, maximus ultricies velit.</p>
      </div>
    </div>
  </div>
</section>
